<h1 class="mt-4">Chat App</h1>
<p class="lead mb-3">Welcome <a href="/profile/<%= name %>"><%= name %></a></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<form id="room-form" action="">
  <input id="room-input" type="text" /><button>Create Room</button>
</form>
<ul id="room-list">

</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.io.js"></script>